@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  color: white;
  outline: none;
}

body {
  background-color: #1b1b1b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input {
  text-transform: capitalize;
}

main form i {
  font-size: 50px;
}

main form input {
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #ddd;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  transition: all .3s;

  &:focus {
    border: 1px solid #0f6dd8;
    background-color: #0f6dd83f;
  }
}

main form div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn, .stop {
  border: none;
  background-color: #0f6dd8;
  color: white;
  padding: 10px;
  width: 90%;
  font-size: 18px;
  transition: all .3s;
  cursor: pointer;
  border-radius: 25px;

  &:hover {
    background-color: #064792;
  }
}

.trash {
  border: none;
  background-color: #0f6dd8;
  color: white;
  padding: 10px 13px;
  transition: all .3s;
  cursor: pointer;
  border-radius: 25px;

  &:hover {
    background-color: #064792;
  }
}

.trash i {
  font-size: 20px;
}

.btns {
  width: 100%;
  display: flex;
  gap: 5px;
}

.resultado {
  background-color: #16161628;
}

input[type="radio"] {
  background-color: black;
}

.alert {
  display: block;
  position: absolute;
  width: 600px;
  transition: all .7s;
  top: -420px;
  z-index: 10;
}

.show {
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-size: 32px;
  background-color: #0f6dd8;
  border-radius: 25px 25px 0 0;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title div i {
  cursor: pointer;
}

.text {
  padding: 30px 20px;
  border-radius: 0 0 25px 25px;
  background-color: #131313;
  font-size: 20px;
  text-align: center;
}

.bg {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.show-bg {
  display: block;
  animation: bg 0.7s;
}

.error {
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #d10606;
  color: white;
  position: absolute;
  top: -120px;
  font-size: 24px;
  transition: all .7s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.showError {
  position: absolute;
  top: 10px;
}

@keyframes bg {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


.date-day {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.date-day input {
    width: 100px;
}

.date-dia {
    width: 100%;
}

.diaS {
    width: 100%;
    text-transform: capitalize;
}